<div id="container">
    <div class="left">
      <form #movie="ngForm">
        <h1>ADD MOVIE</h1>
          <h3>Title</h3>
            <input type="text"
            placeholder="Title"
            required #movietitle="ngModel"
            [class.invalid]="movietitle.invalid && movietitle.touched"
            [(ngModel)]= "movieTitle" 
            name="movieTitle">
          
          <br>
            <h3>Director</h3>
              <input type="text" 
              placeholder="Director" 
              required #moviedirector="ngModel" 
              [class.invalid]="moviedirector.invalid && moviedirector.touched" 
              [(ngModel)]= "movieDirector" 
              name="movieDirector">
              <br>
              <h3>Genre</h3>
        
          <select 
            required #moviegenre="ngModel"
            [(ngModel)]="movieGenre" 
            name="movieGenre">
              <option value="" disabled>--Select--</option>
              <option value="Action">Action</option>
              <option value="Drama">Drama</option>
              <option value="Thriller">Thriller</option>
              <option value="Comedy">Comedy</option>
              <option value="Sci-Fi">Sci-Fi</option>
              <option value="Adventure">Adventure</option>
            </select>
          
          <br>
            <h3>About</h3>
              <textarea name="movieAbout" 
              cols="50" rows="10" 
              [(ngModel)]="movieAbout" 
              placeholder="About" required 
              minlength="30" maxlength="200">
              </textarea>
            <br>
            <br>
          <button id="btn" (click)="addMovie()" *ngIf="movie.valid" name="submit">SUBMIT</button>
    </form>
  </div>
</div>
